* linguist-detectable
*.selenium linguist-detectable=true
*.automation linguist-detectable=true
*.java linguist-detectable=true
*.Testng-framework linguist-detectable=true
*.html linguist-detectable=false
*.css linguist-detectable=false
*.JavaScript linguist-detectable=false
